

  


/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Advent Pro', 'Open Sans', sans-serif;
}

.App-header {
  background-color: #222;
  height:80px;
  padding:1px; 
  color:white;
  
 
}

.App-title {
 
 margin-left: 25px;

} */

